{% extends "layout.html" %}

{% block content %}

<div class="flex flex-col items-center mt-10">

<h2 class="text-3xl font-bold mb-8">
Live User Activity
</h2>

<div id="activityContainer"
class="bg-white shadow-xl rounded-xl w-[700px] h-[400px] overflow-y-scroll p-6">

Loading activity...

</div>

</div>


<script>

async function loadActivity(){

const res = await fetch("/api/live_activity")

const data = await res.json()

const container = document.getElementById("activityContainer")

container.innerHTML = ""

data.activities.forEach(act => {

const name = act.user_email.split("@")[0]

container.innerHTML += `

<div class="border-b py-3 flex justify-between">

<span>
<b>${name}</b> ${act.action}
</span>

<span class="text-gray-500 text-sm">
${new Date(act.activity_time).toLocaleString()}
</span>

</div>

`

})

}

loadActivity()

setInterval(loadActivity,3000)

</script>

{% endblock %}